
/* Its A test of my mini projekts, GitHub : GwParSa */

.nav__cont {
    position: fixed;
    width: 60px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}

.nav__cont:hover {
    width: 200px;
}

.nav {
    list-style-type: none;
    color: white;
}

.nav:first-child {
    padding-top: 1.5rem;
}

.nav__items {
    padding-bottom: 4rem;
    font-family: "Arial";
}

.nav__items svg {
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
}

.nav__items:hover a:after {
    opacity: 1;
}

.nav__items a {
    position: relative;
    display: block;
    top: -35px;
    padding-left: 25px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-family: "Arial";
    font-weight: 100;
    font-size: 1.15em;
}

.nav__items a:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: linear-gradient(
        to right,
        #fc4a1a,
        #f7b733
    );
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
}